/*niebieski #0084e1;
  szary #353535;*/
html {
    height: 800px;
    font-family: 'Lato';
}
*{
    margin: 0;
    padding: 0;
}
p {
    color: #353535;
    font-family: 'Lato';
    font-size: 12pt;
    text-align: center; 
}
body {
    background-size: cover;
    background-image: url('../images/background_foto.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: 'Lato';
} 
.container {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.block_logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 375px;
    height: 375px;
    float: left;
    margin-bottom: 15px;
}
.four_blocks_square {
    width: 375px;
    height: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
}
#foto_kasia {
    background-image: url(../images/Lukasiewicz144_kadrowane_small.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 180px;
    height: 180px;
    float: left;
}
#rozwijane_foto {
    background-image: url(../images/Lukasiewicz192_kadrowane.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 570px;
    display: none;
    z-index: 50;
    position: absolute;
}
#rozwijany_o_kancelarii #radca h4{
    color: #353535;
}
main p {
    font-size: 13pt;
}
main {
    font-size: 11px;
    color: #353535;
    padding-left: 33px;
    padding-right: 38px;
    text-align: justify;
    line-height: 1.5;
}
#o_kancelarii {
    background-image: url(../images/icon_o_kancelarii.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y: 44%;
    background-color: #fff;
    width: 180px;
    width: 180px;
    margin-top: 15px;
    float: left;
}
#o_kancelarii p {
    color: #000000;
    margin-top: 64%;
}
#rozwijany_o_kancelarii {
    background-image: url(../images/icon_o_kancelarii.png);
    background-repeat: no-repeat;
    background-size: 14%;
    background-position-x: 320px;
    background-position-y: 710px;
    background-color: #fff;
    width: 375px;
    height: 765px;
    display: none;
    z-index: 50;
    position: absolute;
}
#rozwijany_o_kancelarii p {
    font-size: 11px;
    color: #353535;
    padding-left: 33px;
    padding-right: 38px;
    text-align: justify;
    line-height: 1.5;
}
.to_sprawia {
    height: 6px;
}
.gallup {
    margin-top: 9px;
}
#rozwijany_o_kancelarii .gallup {
    color: #353535;
    padding-top: 5px;
}
#rozwijany_o_kancelarii h4 {
    font-size: 13px;
    color: #353535;
    padding-top: 9px;
    padding-left: 33px;
    padding-right: 38px;
    text-align: justify;
}
#rozwijane_kontakt h3 {
    color: #fff;
    font-size: 13pt;
    padding-top: 18px;
    padding-left: 33px;
    padding-right: 46px;
    padding-bottom: 44px;
}
#kontakt {
    background-image: url(../images/icon_kontakt.png);
    background-repeat: no-repeat;
    background-size: 36%;
    background-position: center;
    background-position-y: 43%;
    background-color: #353535;
    width: 180px;
    height: 180px;
    float: right;
}
#kontakt p {
    color: #fff;
    padding-top: 64%;
    z-index: 50;
}
#schowany_nr {
    font-size: 12pt;
    font-family: 'Lato';
    color: #0084e1;
    padding-left: 33px;
    padding-bottom: 2px;
    background-color: #353535;
    z-index: 50;
    position: absolute;
}
.calosc_kontkat_p {
    margin-top: 17px;
}
#rozwijane_kontakt {
    background-color: #353535;
    background-size: 20%;
    width: 375px;
    height: 375px;
    display: none;
    z-index: 50;
    position: absolute;
    text-align: justify;
    text-decoration: none;
}
#rozwijane_kontakt a {
    color: #0084e1;
    font-size: 12pt;
    text-decoration: none;
    font-style: normal;
    text-align: justify;
}
#rozwijane_kontakt a p.email {
    color: #0084e1;
    font-size: 11pt;
}
#rozwijane_kontakt p {
    color: #fff;
    font-family: 'Lato';
    font-size: 12pt;
    text-decoration: none;
    font-style: normal;
    text-align: justify;
    padding-left: 33px;
    text-decoration: none;
    padding-top: 3.5px;
}
 .ente {
    margin-top: 18px;
    }
 .ente2 {
    margin-top: 32px;
    }
iframe {
    margin-left: 8px;
    margin-top: 18px;
}
#rozwijane_kontakt img,
#rozwijane_foto img,
#rozwijany_o_kancelarii img {
    top: 10px;
    right: 10px;
    position: absolute;
}
#rozwijany_klienci_indywidualni img,
#rozwijany_klienci_biznesowi img,
#rozwijany_rozwody img,
#rozwijany_biezace_problemy img,
#rozwijany_it img,
#rozwijany_prawo_budowlane img {
    top: 10px;
    right: 10px;
    position: absolute;
}
#sentencja {
    background-image: url(../images/icon_dart.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-position-y: 43%;
    background-color: #0084e1;
    width: 180px;
    height: 180px;
    margin-top: 15px;
    float: right;
}
#sentencja p {
    color: #fff;
    padding-top: 64%;
    font-size: 11pt;
}
#sentencja2 {
    background-image: url(../images/icon_dart_white.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    background-position-y: 43%;
    background-color: #0084e1;
    width: 180px;
    height: 180px;
    margin-top: 15px;
    float: right;
    display: none;
}
#sentencja2 p {
    color: #fff;
    padding-top: 64%;
    font-size: 11pt;
}
.two_blocks_rectangle {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 765px;
    height: 180px;
    margin-bottom: 15px;
}
#klienci_indywidualni {
    background-image: url(../images/icon_klienci_indywiualni.png);
    background-repeat: no-repeat;
    background-size: 24%;
    background-position: center;
    background-position-y: 43%;
    background-color: #0084e1;
    width: 375px;
    height: 180px;
    margin-right: 15px;
    float: left;
}
#klienci_indywidualni p {
    color: #fff;
    padding-top: 31%;
}
#rozwijany_klienci_indywidualni {
    background-image: url(../images/icon_klienci_indywiualni.png);
    background-repeat: no-repeat;
    background-color: #0084e1;
    background-size: 11%;
    background-position-x: 675px;
    background-position-y: 305px;
    width: 765px;
    height: 375px;
    z-index: 50;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
#rozwijany_klienci_indywidualni p,
#rozwijany_it p {
    color: #fff;
    font-size: 10pt;
    text-align: justify;
    line-height: 1.5;
    padding-left: 33px;
    padding-right: 37px;
}
.column {
    float: left;
    width: 50%;
}
.column p {
    font-size: 12px;
    text-align: justify;
    padding-left: 34px;
    padding-right: 34px;
    line-height: 1.5;
}
#rozwijany_klienci_indywidualni ul,
#rozwijany_klienci_biznesowi ul {
    text-align: justify;
}
#rozwijany_klienci_indywidualni ul {
    color: #fff;
}
#rozwijany_klienci_biznesowi ul {
    color: #0084e1;;
}
#rozwijany_rozwody p,
#rozwijany_biezace_problemy p,
#rozwijany_prawo_budowlane p {
    font-size: 10pt;
    text-align: justify;
    line-height: 1.5;
    padding-left: 33px;
    padding-right: 33px;
}
#rozwijany_rozwody p,
#rozwijany_prawo_budowlane p {
    color: #353535;
}
#rozwijany_klienci_biznesowi p,
#rozwijany_klienci_biznesowi li,
#rozwijany_biezace_problemy p {
        color: #fff;
        font-size: 10pt;
}
#rozwijany_klienci_indywidualni h3,
#rozwijany_klienci_biznesowi h3,
#rozwijany_biezace_problemy h3,
#rozwijany_it h3,
#rozwijany_biezace_problemy h3 {
    color: #fff;
    font-size: 13pt;
    padding-top: 2vh;
    padding-left: 33px;
    padding-right: 46px;
    padding-bottom: 2vh;
}
#rozwijany_rozwody h3,
#rozwijany_prawo_budowlane h3,
#rozwijany_o_kancelarii h3
{
    color: #0084e1;
    font-size: 13pt;
    padding-top: 2vh;
    padding-left: 33px;
    padding-right: 46px;
    padding-bottom: 2vh;
}
#klienci_biznesowi {
    background-image: url(../images/icon_klienci_biznesowi.png);
    background-repeat: no-repeat;
    background-size: 21%;
    background-position: center;
    background-position-y: 43%;
    background-color: #353535;
    width: 375px;
    height: 180px;
    float: right;
}
#klienci_biznesowi p {
    color: #fff;
    padding-top: 31%;
}
#rozwijany_klienci_biznesowi {
    background-image: url(../images/icon_klienci_biznesowi.png);
    background-repeat: no-repeat;
    background-color: #353535;
    background-size: 10.5%;
    background-position-x: 675px;
    background-position-y: 288px;
    width: 765px;
    height: 375px;
    display: none;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}
.four_blocks_row {
    width: 766px;
    height: 180px;
}
#rozwody {
    background-image: url(../images/icon_rozwody.png);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: center;
    background-color: #fff;
    background-position-y: 43%;
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 15px;
}
#rozwody p {
    padding-top: 64%;
}
#rozwijany_rozwody {
    background-image: url(../images/icon_rozwody.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 12%;
    background-position-x: 675px;
    background-position-y: 288px;
    width: 765px;
    height: 375px;
    display: none;
    z-index: 50;
    position: relative;
}
#rozwijany_rozwody li {
    color: #353535;
}
#biezace_problemy {
    background-image: url(../images/icon_biezace_problemy.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-position-y: 43%;
    background-color: #353535;
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 15px;
}
#biezace_problemy p {
    color: #fff;
    margin-top: 64%;
}
#rozwijany_biezace_problemy {
    background-image: url(../images/icon_biezace_problemy.png);
    background-repeat: no-repeat;
    background-color: #353535;
    background-size: 11%;
    background-position-x: 675px;
    background-position-y: 288px;
    width: 765px;
    height: 375px;
    display: none;
    z-index: 50;
    position: relative;
}
#it {
    background-image: url(../images/icon_IT.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y: 48%;
    background-color: #0084e1;
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 15px;
}
#it p {
    color: #fff;
    padding-top: 64%;
}
#rozwijany_it {
    background-image: url(../images/icon_IT.png);
    background-repeat: no-repeat;
    background-color: #0084e1;
    background-size: 11%;
    background-position-x: 675px;
    background-position-y: 305px;
    width: 765px;
    height: 375px;
    display: none;
    z-index: 50;
    position: relative;
}
#prawo_budowlane {
    background-image: url(../images/icon_prawo_budowlane.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: center;
    background-position-y: 47%;
    background-color: #fff;
    width: 180px;
    height: 180px;
    float: left;
}
#prawo_budowlane p {
    margin-top: 64%;

}
#rozwijany_prawo_budowlane {
    background-image: url(../images/icon_prawo_budowlane.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 11%;
    background-position-x: 675px;
    background-position-y: 288px;
    width: 765px;
    height: 375px;
    display: none;
    z-index: 50;
    position: relative;
}
#rozwijany_prawo_budowlane ul {
    color:  #353535;
}
ul {
    color: #0084e1;
    font-size: 10pt;
    text-align: justify;
    line-height: 1.5;
    padding-left: 51px;
    }
#rozwijany_it ul {
    color: #fff;
    text-align: justify;
}
li {
    text-align: justify;
}
footer {
    background-color: #353535;
    height: 19px;
    margin-top: 13px;
    padding-right: 10px;
}
footer p {
    font-style: italic;
    font-size: 8pt;
    color: #fff;
    text-align: right;
}
/**************** Media Queries **************************/

@media only screen and (max-width: 900px) {
    html {
        height: 1418px;
    }
    .container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }
    .block_logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 375px;
    height: 180px;
    float: left;
    margin-bottom: 15px;
    }
    #rozwijany_o_kancelarii {
        margin-bottom: 15px;    
    }  
    #sentencja2 {
        width: 180px;
        height: 180px;
        float: right;
    }
    #sentencja2 p {
        font-size: 11pt;
        color: #353535;
    }
    #rozwijany_o_kancelarii p {
    font-size: 10.75px;
    color: #353535;
    padding-left: 33px;
    padding-right: 38px;
    text-align: justify;
    line-height: 1.5;  
    }
    .to_sprawia {
        height: 6px;
    }
    .two_blocks_rectangle {
        width: 375px;
        height: 390px;
    }
    #klienci_indywidualni {
        margin-top: 15px;
        margin-right: 0;
    }
    #klienci_indywidualni p {
        text-align: center;
    }
    #rozwijany_klienci_indywidualni {
        background-size: 13%;
        background-position-x: 310px;
        background-position-y: 520px;
        width: 375px;
        height: 570px;
        display: none;
        z-index: 50;
        margin-top: 15px;
    }
    #rozwijane_kontakt h3,
    #rozwijany_klienci_indywidualni h3,
    #rozwijany_klienci_biznesowi h3,
    #rozwijany_biezace_problemy h3,
    #rozwijany_it h3,
    #rozwijany_biezace_problemy h3 {
        color: #fff;
        font-size: 13pt;
        font-family: 'Lato';
        padding-top: 4vh;
        padding-left: 35px;
        padding-right: 46px;
        padding-bottom: 3vh;
}
    #klienci_biznesowi {
        margin-top: 15px;
        text-align: center;
    }
    #rozwijany_klienci_biznesowi {
        background-size: 13%;
        background-position-x: 310px;
        background-position-y: 510px;
        width: 375px;
        height: 570px;
        display: none;
        z-index: 50;
        margin-top: 15px;
    }
    .column {
        width: 100%;
    }
    #rozwijany_rozwody {
        background-size: 15%;
        background-position-x: 310px;
        background-position-y: 326px;
        width: 375px;
        height: 390px;
        z-index: 50;
        margin-top: 15px;
    }
    #rozwijany_rozwody h3,
    #rozwijany_biezace_problemy h3,
    #rozwijany_it h3,
    #rozwijany_prawo_budowlane h3 {
        padding-top: 14px;
        padding-bottom: 9px;
    }
    #rozwijany_biezace_problemy {
        background-image: url(../images/icon_biezace_problemy.png);
        background-repeat: no-repeat;
        background-color: #353535;
        background-size: 15%;
        background-position-x: 310px;
        background-position-y: 326px;
        width: 375px;
        height: 387px;
        z-index: 50;
        margin-top: 15px;
    }
    #rozwijany_it {
        background-image: url(../images/icon_IT.png);
        background-repeat: no-repeat;
        background-color: #0084e1;
        background-size: 15%;
        background-position-x: 313px;
        background-position-y: 344px;
        width: 375px;
        height: 389px;
        z-index: 50;
        margin-top: 15px;
    }
    .ente {
        margin-top: 4px;
    }
    #rozwijany_prawo_budowlane h3 {
        padding-bottom: 5px;
    }
    #rozwijany_prawo_budowlane {
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: 16%;
        background-position-x: 313px;
        background-position-y: 334px;
        width: 375px;
        height: 391px;
        z-index: 50;
        margin-top: 15px;
    }
    #rozwijany_prawo_budowlane ul {
        padding-right: 30px;
    }
    .four_blocks_row {
        width: 390px;
    }
    .four_blocks_row {
        height: 390px;
    }
    #it, #prawo_budowlane {
        margin-top: 15px;
    }
    footer {
        font-size: 5pt;
        margin-top: 13px;
        padding-right: 10px;
        padding-top: 4px;
    }
    }
/*****************  320 ************** 320   *********************  320  ************************/
@media only screen and (max-width: 320px){
    html {
        height: 1088px;
    }
    .container {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }
    .block_logo {
        background-size: 90%;
        width: 290px;
        height: 140px;  
        padding-bottom: 8px;
    }
    .four_blocks_square {
        width: 290px;
        height: 290px;
    }
    #foto_kasia {
        width: 140px;
        height: 140px;
        float: left;
    }
    #rozwijane_foto {
        width: 290px;
    }
    #o_kancelarii {
        background-image: url(../images/icon_o_kancelarii.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 35px;
        background-position-x: center;
        background-color: #fff;
        width: 140px;
        height: 140px;
        margin-top: 10px;
        float: left;
    }
    #o_kancelarii p {
        color: #000000;
        margin-top: 64%;
        font-size: 10pt;
    }
    #rozwijany_o_kancelarii {
        width: 290px;
        height: 740px;
        background-size: 13%;
        background-position-x: 235px;
        background-position-y: 688px;
    }
    #rozwijany_o_kancelarii img,
    #rozwijane_foto img,
    #rozwijany_klienci_indywidualni img {
        margin-top: 10px;
        margin-left: 257px;
    }
    #kontakt {
        background-image: url(../images/icon_kontakt.png);
        background-repeat: no-repeat;
        background-size: 39%;
        background-position: 54%;
        background-position-y: 36%;
        background-color: #353535;
        width: 140px;
        height: 140px;
        float: right;
    }
    #kontakt p {
        color: #fff;
        padding-top: 64%;   
        font-size: 10pt;
    }
    #rozwijane_kontakt {
        width: 290px;
        height: 290px;
    }
    #rozwijane_kontakt h3 {
        padding-top: 6vh;
        padding-left: 32px;
    }
    #rozwijane_kontakt img  {
        margin-top: 13px;
        margin-left: 167px;
    }
    #rozwijane_kontakt p {
        line-height: 1.5;
        color: #fff;
        font-size: 11pt;
        padding-left: 33px;
        text-decoration: none;
        font-style: normal;
        text-align: justify;
    }
    #rozwijane_kontakt a p.email {
        color: #0084e1;
        font-size: 10pt;
        padding-top: 27px;
    }
    #sentencja {
        background-color: #0084e1;
        width: 140px;
        height: 140px;
        margin-top: 10px;
        float: right;
    }
    #sentencja p {
        color: #fff;
        padding-top: 64%;
        font-size: 10pt;
    }
    #sentencja2 {
        width: 140px;
        height: 140px;
        margin-top: 10px;
        float: right;
    }
    #sentencja2 p {
        font-size: 11pt;
        color: #353535;
    }
    #rozwijany_o_kancelarii h4 {
        padding-left: 33px;
        padding-bottom: 7%;
        padding-top: 2%;
        font-size: 8.6pt;
    }
    .to_sprawia {
        margin-top: -28px;
    }
    #rozwijany_o_kancelarii p {
        font-size: 9.5px;
        color: #353535;
        padding-left: 33px;
        padding-right: 33px;
        text-align: justify;
        padding-bottom: 2%;
    }
    main {
        font-size: 9.5px;
        color: #353535;
        font-family: 'Lato';
        margin-top: -16px;
        padding-left: 33px;
        padding-right: 29px;
        text-align: justify;
    }
    #rozwijany_o_kancelarii #radca h4 {
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 18px;
        font-size: 10.74px;
        color: #353535;
        text-align: left;
    }
    .two_blocks_rectangle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 290px;
        height: 290px;
        margin-bottom: 10px;
    }
    #klienci_indywidualni {
        background-image: url(../images/icon_klienci_indywiualni.png);
        background-repeat: no-repeat;
        background-size: 28%;
        background-position: center;
        background-position-y: 44%;
        background-color: #0084e1;
        width: 290px;
        height: 140px;
        margin-top: 10px;
    }
    #klienci_indywidualni p {
        color: #fff;
        line-height: 1.5;
        margin-top: 0;
        font-size: 10pt;
    }
    #rozwijany_klienci_indywidualni ul {
        padding-right: 33px;
    }
    #rozwijany_klienci_indywidualni {
        width: 290px;
        height: 591px;
        background-size: 16%;
        background-position-x: 234px;
        background-position-y: 541px;
        margin-top: 10px;
    }
    .ente {
        margin-top: 4px;
    }
    .ente2 {
        margin-top: 6px;
    }
    #rozwijany_rozwody h3, #rozwijany_prawo_budowlane h3, #rozwijany_o_kancelarii h3 {
        color: #0084e1;
        font-size: 13pt;
        padding-top: 19px;
        padding-left: 33px;
    }
    #rozwijane_kontakt h3, #rozwijany_klienci_indywidualni h3, #rozwijany_klienci_biznesowi h3, #rozwijany_biezace_problemy h3, #rozwijany_it h3, #rozwijany_biezace_problemy h3 {
    color: #fff;
    font-size: 13pt;
    font-family: 'Lato';
    padding-top: 13px;
    padding-bottom: 5px;
    padding-left: 33px;
    padding-right: 46px;
    }
    #klienci_biznesowi {
        background-image: url(../images/icon_klienci_biznesowi.png);
        background-repeat: no-repeat;
        background-size: 23%;
        background-position: center;
        background-position-y: 42%;
        background-color: #353535;
        width: 290px;
        height: 140px;
        margin-top: 10px;
    }
    #klienci_biznesowi p {
        color: #fff;
        line-height: 1.5;
        height: 100px;
        font-size: 10pt;
    } 
    #rozwijany_klienci_biznesowi {
        margin-top: 10px;
        width: 290px;
        height: 591px;
        background-size: 16%;
        background-position-x: 247px;
        background-position-y: 544px;
    }
    .column p,
    #rozwijany_klienci_biznesowi li {
        font-size: 9pt;
        padding-right: 30px;
    }
    #rozwijany_klienci_biznesowi p {
        font-size: 9pt;
    }
    #rozwijany_klienci_biznesowi h3 {
        padding-top: 19px;
        padding-left: 33px;
    }
    li {
        line-height: 1.5;
    }
    .four_blocks_row {
        padding-top: 10px;
        width: 290px;
        height: 290px;
        padding-top: 10px;
    }
    #rozwody {
        background-image: url(../images/icon_rozwody.png);
        background-repeat: no-repeat;
        background-size: 47%;
        background-position: center;
        background-color: #fff;
        background-position-y: 30px;
        width: 140px;
        height: 140px;
        float: left;
        margin-right: 0px;
    }
    #rozwody p {
        margin-top: 0;
        font-size: 10pt;
    }
    li {
        padding-right: 0px;
        font-size: 9pt;
    }
    #rozwijany_rozwody {
        margin-top: 10px;
        width: 290px;
        height: 297px;
        background-size: 17%;
        background-position-x: 239px;
        background-position-y: 253px;
    }
    #rozwijany_rozwody h3 {
        padding-top: 13px;
        padding-bottom: 8px;
    }
    #rozwijany_rozwody p{
        padding-left: 33px;
        padding-right: 31px;
        font-size: 9pt;
    }
    #rozwijany_biezace_problemy p {
        padding-left: 33px;
    }
    #biezace_problemy {
        background-image: url(../images/icon_biezace_problemy.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        background-position-y: 33px;
        background-color: #353535;
        width: 140px;
        height: 140px;
        float: right;
        margin-right: 0px;
    }
    #biezace_problemy p {
        color: #fff;
        margin-top: 64%;
        font-size: 10pt;
    }
    #rozwijany_biezace_problemy {
        margin-top: 10px;
        width: 290px;
        height: 293px;
        background-size: 17%;
        background-position-x: 241px;
        background-position-y: 244px;
    }
    #rozwijany_biezace_problemy h3 {
        padding-left: 33px;
        padding-top: 19px;
        padding-bottom: 11px;
    }
    #rozwijany_biezace_problemy p {
        padding-left: 33px;
        font-size: 9pt;
    }
    #it {
        background-image: url(../images/icon_IT.png);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        background-position-y: 50px;
        background-color: #0084e1;
        width: 140px;
        height: 140px;
        float: left;
        margin-right: 0px;
        margin-top: 10px;
    }
    #it p {
        color: #fff;
        margin-top: 0;
        font-size: 10pt;
    }
    #rozwijany_it {
        margin-top: 10px;
        width: 290px;
        height: 447px;
        background-size: 13%;
        background-position-x: 250px;
        background-position-y: 416px;
    }
    #rozwijany_it p {
        font-size: 9pt;
    }
    #rozwijany_it ul {
        font-size: 9pt;
    }
    #rozwijany_it li {
        padding-right: 30px;
    }
    #prawo_budowlane {
        background-image: url(../images/icon_prawo_budowlane.png);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        background-position-y: 45px;
        background-color: #fff;
        width: 140px;
        height: 140px;
        float: right;
        margin-right: 0px;
        margin-top: 10px;
    }
    #prawo_budowlane p {
        margin-top: 64%;
        font-size: 10pt;
    }
    #rozwijany_prawo_budowlane {
        margin-top: 10px;
        width: 290px;
        height: 440px;
        background-size: 15%;
        background-position-x: 243px;
        background-position-y: 394px;
    }
    #rozwijany_prawo_budowlane h3 {
        padding-left: 33px;
        padding-top: 13px;
        padding-bottom: 6px;
    }
    #rozwijany_prawo_budowlane p {
        padding-left: 32px;
        font-size: 11px;
    }
    #rozwijany_prawo_budowlane ul {
        font-size: 8.5pt;
    }
    footer {
        font-size: 7pt;
        color: #fff;
        background-color: #353535;
        text-align: right;
        height: 16px;
        padding-top: 5px
    }
    footer {
        font-size: 5pt;
        margin-top: 13px;
        padding-right: 10px;
        padding-top: 4px;
    }    
    }
